@charset "UTF-8";
/* **************************************************
*   Author: Deniel Den
*  	Author URI: https://www.linkedin.com/in/denielden
*	Version: 1.5.0
************************************************** */
:root {
	--purple: #890052;
	--orange: #ff9200;
	--white: #fff;
	--black: #000;
}
html, body {
	font-family: 'Poiret One', 'Montserrat Alternates', sans-serif;
	font-display: swap;
	font-size: 1.15rem;
	line-height: 1.2;
	color: var(--black);
	scroll-behavior: smooth;
}
body { position: relative; padding-top:58px; }
#preload {  
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	color: var(--purple);
	padding-top: 8rem;
	background-color: var(--white);
	box-sizing: border-box;
	z-index: 10000;
}

/* Cookie popUp */
#cookiePopup {
	font-family: 'Poiret One';
	position: fixed;
	left: 1.2rem;
	bottom: 1.2rem;
	color: var(--white);
	z-index: 10000;
}
#cookiePopup #cookieBox {
	max-width: 25rem;
	padding: 1rem;
	background-color: rgba(0, 0, 0, .8);
	border-radius: 1rem;
	font-size: 1rem;
}
#cookiePopup #cookieBox a {
	color: var(--white);
	font-weight: 500;
	font-size: 1rem;
}

/* reset */
section { padding: 4rem 0; }
#intro, #recensioni, #concept, #spazziatura, #tipografia, #usi-impropri { padding-top: 0; }
#progetti, #recensioni { padding-bottom: 1rem; }
.title-box { margin-bottom: 3rem; }
.pt-fix { padding-top: 4rem; }
.endiv { width: 100%; }
svg.bg-arrow { height: 5rem; margin: -1px 0; }
#benefit, #progetti div.col-md-10, #varianti ul, #versioni ul, .switch, .size-box, .metodi-colore, .font-box, .typo-using, .applicazioni, .modal {
	display: flex;
}
nav, #intro, #recensioni, #concept, #spazziatura, #tipografia, #usi-impropri, footer {
	background-color: var(--purple);
	color: var(--white);
}
#cookiePopup #cookieBox, .btn, #btnCta, #toTop, #progetti img, .accordion-item, .accordion-button, .carousel-control-next-icon, .carousel-control-prev-icon, .card, .card-intro, #versioni, #varianti, #esempimpropri, .applicazioni img, .modal-container, .slider, .slider::before, input, textarea, .form-control {
	border-radius: 1.5rem !important;
	box-shadow: 0 2px 12px -2px rgba(0, 0, 0, .4);
}
#progetti img, .accordion-item, .accordion-item:not(:first-of-type), .card-location, .card-whatsapp, #versioni, #varianti {
	border: .3rem solid var(--purple);
}
.modal-container {
	border: .3rem solid var(--orange);
}	
#preload, .title-box, #goDown, .endiv, a#wachat .wamessage, .card-location, .card-whatsapp, .card-location::before, .card-whatsapp::before, footer>div:last-child {
	text-align: center;
}
h1, h2, a, strong, b, span, .card h3, .metodi-colore ul, .montserrat, .typo-description p  { 
	font-family: 'Montserrat Alternates', sans-serif;
}
h1 {
	color:var(--orange);
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: 1.5rem;
}
h2 {
	font-size: 1.45rem;
	margin-bottom: 1rem;
}
h3 {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .15rem;
	padding-left: 1px;
}
a { 
	font-size: 1.05rem;
	color:var(--orange);
	position: relative;
	overflow: hidden;
}
a:hover, a:focus, a:active {
	color:var(--orange);
	text-decoration: none;
}
a:after {
	content: "";
	position: absolute;
	right: 0;
	width: 0;
	bottom: -2px;
	background: var(--orange);
	height: 2px;
	transition-property: width;
	transition-duration: .3s;
	transition-timing-function: ease-out;
}
a:hover:after, a:focus:after, a:active:after {
	left: 0;
	right: auto;
	width: 100%;
}
span {
	display: inline-block;
	margin: 1rem 0;
}
span.numb {
	font-size: 1.7rem;
	line-height: 0;
	padding: 0 1rem 0 .15rem;
	color: var(--purple);
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--purple);
}
strong, b {
    font-size: 1rem;
	font-weight: 500;
}
main section:first-child h1, .card-intro h1, #benefit h2 { margin-bottom: 0; }
#benefit {
    justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 1.5rem;
}
#benefit li {
	display: inline-block;
	padding-right: 1rem;
}
#benefit li:last-child { padding-right: 0; }

/* navbar */
.navbar-collapse { width: auto; }
.navbar-dark .navbar-nav .nav-link, footer nav a.nav-link { font-family: 'Poiret One', 'Montserrat Alternates', sans-serif; color:var(--white); }
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active #btn-nav { color: var(--black); }
.navbar-dark .navbar-toggler { border: 0; padding: 0 .75rem; }
.navbar-dark .navbar-toggler-icon {	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
button[type="button"].navbar-toggler, .navbar-toggler:focus { box-shadow: none; }
#btn-nav{
	background-color: var(--orange);
	border: 0;
	color: var(--white);
	border-radius: 1rem;
	padding: 0 10px 5px 10px;
}

/* button */
.btn {    
	font-family: 'Poiret One', 'Montserrat Alternates', sans-serif;
	text-transform: uppercase;
	color:var(--black);
	background-color: var(--orange);
	border-color: var(--orange);
	padding: .3rem 1rem;
	margin-top: 2rem;
}
.btn:hover, .btn:active, .btn:focus {
	color:var(--white);
	box-shadow: 0 0 0 .25rem rgba(255,146,0,.5);
}
.btn-check:focus + .btn, .btn:focus { box-shadow: 0 0 0 .25rem rgba(255,146,0,.5); }
#goDown, .erBounce {		
	font-size: 1.8rem;
	margin: auto;
	margin-bottom: -7rem;
	animation: bounce ease 2s;
	-webkit-animation: bounce ease 2s;
	-moz-animation: bounce ease 2s;
	-o-animation: bounce ease 2s;
	-ms-animation: bounce ease 2s;
	animation-iteration-count: infinite;
}
#btnCta {
	display: none;
	position: fixed;
	bottom: 1.2rem;
	right: 4rem;
	font-size: .8rem;
}
#toTop {
	background: var(--orange) url('data:image/svg+xml,<svg width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320.16 182.75"><path d="M34.57,250.71l125.8-125.6,125.9,125.6c10,10,42-19.79,32-29.72l-143-143.44c-10-10.14-19.91-10-29.94,0L1.91,221C-8.13,231,24.64,260.75,34.57,250.71Z" transform="translate(-0.02 -70)"></path></svg>') 50% no-repeat;
	display: none;
	position: fixed;
	bottom: 1.2rem;
	right: 1.2rem;
	width: 2rem;
	height: 2rem;
}
/* whatsapp btn chat */
a#wachat {
	display: none;
	position: fixed;
	background: #25d366 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 01-13.754 2.299l-5.814.735a.392.392 0 01-.438-.44l.748-5.788A12.002 12.002 0 013.517 3.517zm3.61 17.043l.3.158a9.846 9.846 0 0011.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 00-1.747 11.554l.16.303-.51 3.942a.196.196 0 00.219.22l3.961-.501zm6.534-7.003l-.933 1.164a9.843 9.843 0 01-3.497-3.495l1.166-.933a.792.792 0 00.23-.94L9.561 6.96a.793.793 0 00-.924-.445 1291.6 1291.6 0 00-2.023.524.797.797 0 00-.588.88 11.754 11.754 0 0010.005 10.005.797.797 0 00.88-.587l.525-2.023a.793.793 0 00-.445-.923L14.6 13.327a.792.792 0 00-.94.23z'/%3E%3C/svg%3E") 50% no-repeat;
	background-size: 60%;
	height: 3rem;
	width: 3rem;
	border-radius:100%;
	bottom: 4.5rem;
	right: 1.2rem;
	z-index: 100;
}
a#wachat:hover, a#wachat:active {
	background: #008617 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 01-13.754 2.299l-5.814.735a.392.392 0 01-.438-.44l.748-5.788A12.002 12.002 0 013.517 3.517zm3.61 17.043l.3.158a9.846 9.846 0 0011.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 00-1.747 11.554l.16.303-.51 3.942a.196.196 0 00.219.22l3.961-.501zm6.534-7.003l-.933 1.164a9.843 9.843 0 01-3.497-3.495l1.166-.933a.792.792 0 00.23-.94L9.561 6.96a.793.793 0 00-.924-.445 1291.6 1291.6 0 00-2.023.524.797.797 0 00-.588.88 11.754 11.754 0 0010.005 10.005.797.797 0 00.88-.587l.525-2.023a.793.793 0 00-.445-.923L14.6 13.327a.792.792 0 00-.94.23z'/%3E%3C/svg%3E") 50% no-repeat;
	background-size: 60%;
}
a#wachat .wamessage {
	visibility: hidden;
	width: 11rem;
	background-color: var(--white);
	font-size:.8rem;
	border-radius: 10rem;
	box-shadow: 0 0 4px 2px #b9b9b9;
	padding: .2rem 0;
	position: fixed;
	bottom: 4.3rem;
	right: 5rem;
	z-index: 10000;
}
a#wachat:hover .wamessage { visibility: visible; }

img#myComputer {
	margin-top:-14rem;
	margin-bottom:-6rem;
	max-width: 95%;
	position: -webkit-sticky;
	position: sticky;
	top: 10rem;
}
#progetti div.col-md-10, .applicazioni {
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
#progetti img, .applicazioni img {
	margin: 0 1rem 1rem 0;
	width: calc(100% / 4 - 1rem);
	height: auto;
}
#progetti img:nth-child(4), #progetti img:last-child,
.applicazioni img:nth-child(4), .applicazioni img:last-child  { margin-right: 0; }
.step h2 { margin-bottom: 0; }
.step p {
	padding-left: 2.5rem;
	margin-bottom: 2rem;
}

/* faq */
.accordion-button {	
	padding: .6rem 1rem;
	font-size: 1.02rem;
}
.accordion-item { margin-bottom: 1rem; }
.accordion-button:not(.collapsed) {
    color: var(--orange);
    background-color: var(--white);
	box-shadow: none;
}
.accordion-button:not(.collapsed)::after { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 146, 0)'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") }
.accordion-button:focus { box-shadow: none; }

/* carousel */
.carousel-item h2 { font-size: 1.02rem; }
.carousel-item img {
	max-height: 9rem;
	display: block;
	margin: 1.5rem auto;
}
.carousel-control-next, .carousel-control-prev { width: unset }
.carousel-control-prev { left: -1.2rem; }
.carousel-control-next { right: -1.2rem; }
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color:var(--purple);
	background-size: 65%;
	width: 1.2rem;
	height: 2rem;
}

/* card */
.card {
	color:var(--black);
	margin-bottom: 1.5rem;
	padding: .5rem;
}
.card-intro {
	background: var(--white);
	color: var(--black);
	padding: 1.5rem;
}
.card-intro div:last-child { text-align: right; }
.card img {
	border-radius: 50%;
	margin-top: 1rem;
	margin-right: 1rem;
	width: 5rem;
	height: 5rem;
	float: left;
}
.card h3 {
	font-size: 1rem;
	font-weight: 600;
	text-transform: unset;
	margin-top: 3rem;
	float: left;
	letter-spacing: unset;
}
.card h2 { font-size: 1.3rem; }
.rating-5::before, .rating-4::before { content: '\2605\2605\2605\2605\2605'; color: var(--orange); }
.rating-4::before { content: '\2605\2605\2605\2605'; }
#recensioni .card-body::before{
	content: url('data:image/svg+xml,<svg width="65" fill="rgb(137, 0, 82)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 448"><path d="M456,54a1.93,1.93,0,0,1,2,2v48a1.93,1.93,0,0,1-2,2h-8a86.1,86.1,0,0,0-86,86v86H464a26,26,0,0,1,26,26V432a26,26,0,0,1-26,26H336a26,26,0,0,1-26-26V192A138,138,0,0,1,448,54h8M168,54a1.93,1.93,0,0,1,2,2v48a1.93,1.93,0,0,1-2,2h-8a86.1,86.1,0,0,0-86,86v86H176a26,26,0,0,1,26,26V432a26,26,0,0,1-26,26H48a26,26,0,0,1-26-26V192A138,138,0,0,1,160,54h8M456,32h-8A160,160,0,0,0,288,192V432a48,48,0,0,0,48,48H464a48,48,0,0,0,48-48V304a48,48,0,0,0-48-48H384V192a64.06,64.06,0,0,1,64-64h8a23.94,23.94,0,0,0,24-24V56a23.94,23.94,0,0,0-24-24ZM168,32h-8A160,160,0,0,0,0,192V432a48,48,0,0,0,48,48H176a48,48,0,0,0,48-48V304a48,48,0,0,0-48-48H96V192a64.06,64.06,0,0,1,64-64h8a23.94,23.94,0,0,0,24-24V56a23.94,23.94,0,0,0-24-24Z" transform="translate(0 -32)"></path></svg>');
	display: block;
	margin-bottom: 1.2rem;
}
.card-location::before, .card-whatsapp::before {
	content: url('data:image/svg+xml,<svg width="45" fill="rgb(137, 0, 82)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M192 96c-52.935 0-96 43.065-96 96s43.065 96 96 96 96-43.065 96-96-43.065-96-96-96zm0 160c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64zm0-256C85.961 0 0 85.961 0 192c0 77.413 26.97 99.031 172.268 309.67 9.534 13.772 29.929 13.774 39.465 0C357.03 291.031 384 269.413 384 192 384 85.961 298.039 0 192 0zm0 473.931C52.705 272.488 32 256.494 32 192c0-42.738 16.643-82.917 46.863-113.137S149.262 32 192 32s82.917 16.643 113.137 46.863S352 149.262 352 192c0 64.49-20.692 80.47-160 281.931z"></path></svg>');
	margin-top:1rem;
}
.card-whatsapp::before { content: url('data:image/svg+xml,<svg width="60" fill="rgb(37, 211, 102)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path></svg>'); }
.card-location h2, .card-whatsapp h2 { margin-bottom: 0; }
.underno { text-decoration: none; }

/* brandPage */
.slogan{
	font-size: 1.3rem;
	text-align: center;
	margin: .6rem 0 0 0;
	color: var(--purple)
}
#versioni, #varianti, #esempimpropri { padding: 2rem; }
#varianti ul, #versioni ul {
    align-items: center;
    justify-content: flex-start;
	flex-wrap: wrap;
	list-style: none;
	padding:0;
	margin-bottom: 3rem;
}
#varianti ul li, #versioni ul li { padding-right: 1rem; }
#sizeLogoBar {
	width: 100%;
	height: .25rem;
}
input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb, #sizeLogoBar::-webkit-slider-thumb, #sizeLogoBar::-moz-range-thumb {
	width: .85rem;
	height: 2rem;
	background: var(--orange);
	border: var(--orange);
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}
.size-box {
	height:8rem;
	align-items: center;
	justify-content: center;
}
#logoSize {
	width: 12rem;
	margin-bottom: 1.2rem;
}
.switch {
	align-items: center;
	position: relative;
	width: 2rem;
	height: 6rem;
	margin-bottom: 1rem;
	margin-left: calc(50% - 4rem);
}
.label-action { margin-left: 2.5rem; }
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--white);
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: '';
	height: 1.5rem;
	width: 1.5rem;
	left: 4px;
	bottom: 4px;
	background-color: var(--purple);
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider { background-color: var(--orange); }
input:checked + .slider:before {
	-webkit-transform: translateY(-2rem);
	-ms-transform: translateY(-2rem);
	transform: translateY(-2rem);
}
.metodi-colore, .font-box {
	justify-content: space-between;
	align-items: center;
}
.metodi-colore svg {
	width: 6rem;
	min-width: 3.5rem;
}
.metodi-colore ul {
	font-size: .9rem;
	list-style: none;
}
.width-50 {
	width: 50%;
	margin: auto;
}
.font-box svg { max-width: 18rem; }
.typo-font {
	letter-spacing: .4rem;
	padding-left: 2rem;
}
.typo-element {
    width: 65%;
    word-wrap: break-word;
    text-overflow: ellipsis;
    transition: all .2s ease;
}
.typo-description {
    width: 35%;
    border-left: .1rem solid var(--purple);
    padding-left: 1rem;
    margin-left: 1rem;
}
.typo-description p {
    font-size: .9rem;
    margin-bottom: 0;
}
.typo-description p:last-child {
	font-family: 'Poiret One', sans-serif;
    line-height: 1.2em;
    margin-bottom: revert;
}
#esempimpropri {
	background: var(--white);
	color: var(--black);
}
#esempimpropri .carousel-item img {
	margin: 0 auto;
	max-height: 12rem;
	border-radius: 1rem;
}
#esempimpropri .carousel-control-next { right: .5rem; }
#esempimpropri .carousel-control-prev { left: .5rem; }

/* maps */
.modal {
    opacity: 0;
    visibility: hidden;
	-webkit-transition: all .5s ease;
    transition: all .5s ease;
    align-items: center;
    justify-content: center;
}
.modal.open {
	visibility: visible;
	opacity: 1;
	transition-delay: .5s;
}
.modal-container {
	overflow: hidden;
	background-color: var(--white);
	width: 22rem;
	min-height: 22rem;
	margin: 0 calc(var(--bs-gutter-x)/ 2);
}
.modal-container iframe{ margin-bottom: -.25rem; }

/* form */
input, textarea, .form-control { margin-bottom: 1rem; }
.form-control:focus, .form-check-input:focus {
	border-color: var(--purple);
	box-shadow: 0 0 0 .25rem rgba(137,0,82,.5);
}
.form-check-input:checked {
	background-color: var(--purple);
	border-color: var(--purple);
}
/* form fix */
a.ff-powered-img, h3#ff-title-root, img.ff-submit-icon, .ff-partial, #ff-compose > div:last-child { display: none !important;	opacity: 0; } 
button#ff-submit-root { line-height: 1.5; padding: .3rem 1rem; min-height: auto; float: right; box-shadow: 0 5px 20px -5px rgba(0, 0, 0, .3); margin-top: 0; }
.ff-form .ff-widget-error b, .ff-form .ff-widget-error { font-size: .8rem; padding: 0 0 10px 0 !important; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background-color: var(--orange); border:none; }
.ff-form .ff-button-bar, .ff-form .ff-item { padding: 0 !important; }
span.ff-required { margin: 0 !important; }
.ff-form .ff-item label { line-height: .8 !important; font-size: 1rem !important; }
.ff-form .form-check { margin-top: -28px; font-size: 1rem; }

/* 404 page */
#er404 h1 { font-size: 6rem; }
#er404 img { margin:0; height:6.5rem; }

/* footer */
footer { padding-top: 3rem; }
footer nav a.nav-link { padding: 0 0 .5rem 0; }
footer nav a.nav-link:hover, footer nav a.nav-link:focus { color: rgba(255,255,255,.75); }
ul.social { padding: 0; margin-bottom: .5rem;}
ul.social li { 
	display: inline-block;
	padding-right: .5rem;
}
ul.social li:last-child { padding-right: 0; }
[title~="Linkedin"] { content: url('data:image/svg+xml,<svg width="20" fill="rgb(255, 146, 0)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg>'); }
[title~="Portfolio-Behance"] { content: url('data:image/svg+xml,<svg width="25" fill="rgb(255, 146, 0)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M232 237.2c31.8-15.2 48.4-38.2 48.4-74 0-70.6-52.6-87.8-113.3-87.8H0v354.4h171.8c64.4 0 124.9-30.9 124.9-102.9 0-44.5-21.1-77.4-64.7-89.7zM77.9 135.9H151c28.1 0 53.4 7.9 53.4 40.5 0 30.1-19.7 42.2-47.5 42.2h-79v-82.7zm83.3 233.7H77.9V272h84.9c34.3 0 56 14.3 56 50.6 0 35.8-25.9 47-57.6 47zm358.5-240.7H376V94h143.7v34.9zM576 305.2c0-75.9-44.4-139.2-124.9-139.2-78.2 0-131.3 58.8-131.3 135.8 0 79.9 50.3 134.7 131.3 134.7 61.3 0 101-27.6 120.1-86.3H509c-6.7 21.9-34.3 33.5-55.7 33.5-41.3 0-63-24.2-63-65.3h185.1c.3-4.2.6-8.7.6-13.2zM390.4 274c2.3-33.7 24.7-54.8 58.5-54.8 35.4 0 53.2 20.8 56.2 54.8H390.4z"></path></svg>'); }
[title~="Instagram"] { content: url('data:image/svg+xml,<svg width="20" fill="rgb(255, 146, 0)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>'); }
[title~="Gmail"] { content: url('data:image/svg+xml,<svg width="25" fill="rgb(255, 146, 0)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path transform="translate(0,-952.36218)" d="M39.8,1036.9c-21.8,0-39.8,19.4-39.8,42.9V1337c0,23.4,18.1,42.9,39.8,42.9h432.4c21.8,0,39.8-19.4,39.8-42.9v-257.3c0-23.4-18.1-42.9-39.8-42.9H39.8z M62,1073.6H450l-187.2,175.1c-2.7,2.5-10.8,2.5-13.5,0L62,1073.6z M34.1,1096.2l125.5,117.5L34.1,1322.1V1096.2z M477.9,1096.2v225.9l-125.5-108.3L477.9,1096.2z M185.8,1238.2l41.1,38.3c16.9,15.8,41.4,15.8,58.3,0l41.1-38.3l121.6,104.9H64.2C64.2,1343.1,185.8,1238.2,185.8,1238.2z"></path></svg>'); }
[title~="Whatsapp"] { content: url('data:image/svg+xml,<svg width="20" fill="rgb(37, 211, 102)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path></svg>'); }

/* @media */
@media screen and (max-width: 780px) {
	img#myComputer {
		margin-top:-7rem;
		margin-bottom:3rem;
		max-width: 100%;
		position: unset;
	}
	svg.bg-arrow { height: 3rem; }
	#goDown { display:none; }
	#benefit, .font-box { flex-wrap: wrap; }
	.width-50 { width: 100%; }
	.typo-font {
		padding-left: 0;
		letter-spacing: .2rem;
		font-size: .75rem;
	}
}
@media screen and (max-width: 450px) {
	#cookiePopup {
		margin: 0 1.2rem;
		left: 0;
	}
	section#cosafaccio, section#faq, section#colori { padding-bottom: 0; } 
	h1 { font-size: 1.7rem; }
	h2 { font-size: 1.35rem; }
	h3 { font-size: .9rem; }
	.title-box { text-align: left; }
	ul { padding-left: 1.2rem; }
	.mt-sm-4r { margin-top: 4rem; }
	img.myFace {
		max-width: 12rem;
		display: block;
		margin: 2rem auto -3rem auto;
	}
	.step { margin-bottom:2.5rem; }
	#progetti img, .applicazioni img {
		margin: 0 0 1rem 0;
		width: 100%;
	}
	#btnCta { right: calc(100%/3.15); }
	.card h3 { float:none !important; }
	#versioni, .metodi-colore, #varianti, #esempimpropri { margin-top:3rem; }
	.mb-sm, #versioni, #typoE { margin-bottom:3rem; }
	.font-box svg { width: 12rem; margin: auto; }
	footer { padding: 2rem 0 4rem 0; text-align: center; }
	footer div { margin-bottom: 1.8rem; }
	footer div:last-child { margin-bottom: 0; }
}

/* animation */
a#wachat, #btnCta, #toTop, #gridTypoE, .carousel-item img {
	animation: fadeIn ease 2s;
	-webkit-animation: fadeIn ease 2s;
	-moz-animation: fadeIn ease 2s;
	-o-animation: fadeIn ease 2s;
	-ms-animation: fadeIn ease 2s;
}
@-webkit-keyframes bounce {
	from,
	20%,
	53%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	40%,
	43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
		transform: translate3d(0, -30px, 0) scaleY(1.1);
	}
	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
		transform: translate3d(0, -15px, 0) scaleY(1.05);
	}
	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
		transform: translate3d(0, 0, 0) scaleY(0.95);
	}
	90% {
		-webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
		transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
}
@keyframes bounce {
	from,
	20%,
	53%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	40%,
	43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
		transform: translate3d(0, -30px, 0) scaleY(1.1);
	}
	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
		transform: translate3d(0, -15px, 0) scaleY(1.05);
	}
	80% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
		transform: translate3d(0, 0, 0) scaleY(0.95);
	}
	90% {
		-webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
		transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
}
@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Animate on scroll */
[data-aos][data-aos][data-aos-duration="50"],body[data-aos-duration="50"] [data-aos]{
	transition-duration:50ms
}
[data-aos][data-aos][data-aos-delay="50"],body[data-aos-delay="50"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="50"].aos-animate,body[data-aos-delay="50"] [data-aos].aos-animate{
	transition-delay:50ms
}
[data-aos][data-aos][data-aos-duration="100"],body[data-aos-duration="100"] [data-aos]{
	transition-duration:.1s
}
[data-aos][data-aos][data-aos-delay="100"],body[data-aos-delay="100"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="100"].aos-animate,body[data-aos-delay="100"] [data-aos].aos-animate{
	transition-delay:.1s
}
[data-aos][data-aos][data-aos-duration="150"],body[data-aos-duration="150"] [data-aos]{
	transition-duration:.15s
}
[data-aos][data-aos][data-aos-delay="150"],body[data-aos-delay="150"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="150"].aos-animate,body[data-aos-delay="150"] [data-aos].aos-animate{
	transition-delay:.15s
}
[data-aos][data-aos][data-aos-duration="200"],body[data-aos-duration="200"] [data-aos]{
	transition-duration:.2s
}
[data-aos][data-aos][data-aos-delay="200"],body[data-aos-delay="200"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="200"].aos-animate,body[data-aos-delay="200"] [data-aos].aos-animate{
	transition-delay:.2s
}
[data-aos][data-aos][data-aos-duration="250"],body[data-aos-duration="250"] [data-aos]{
	transition-duration:.25s
}
[data-aos][data-aos][data-aos-delay="250"],body[data-aos-delay="250"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="250"].aos-animate,body[data-aos-delay="250"] [data-aos].aos-animate{
	transition-delay:.25s
}
[data-aos][data-aos][data-aos-duration="300"],body[data-aos-duration="300"] [data-aos]{
	transition-duration:.3s
}
[data-aos][data-aos][data-aos-delay="300"],body[data-aos-delay="300"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="300"].aos-animate,body[data-aos-delay="300"] [data-aos].aos-animate{
	transition-delay:.3s
}
[data-aos][data-aos][data-aos-duration="350"],body[data-aos-duration="350"] [data-aos]{
	transition-duration:.35s
}
[data-aos][data-aos][data-aos-delay="350"],body[data-aos-delay="350"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="350"].aos-animate,body[data-aos-delay="350"] [data-aos].aos-animate{
	transition-delay:.35s
}
[data-aos][data-aos][data-aos-duration="400"],body[data-aos-duration="400"] [data-aos]{
	transition-duration:.4s
}
[data-aos][data-aos][data-aos-delay="400"],body[data-aos-delay="400"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="400"].aos-animate,body[data-aos-delay="400"] [data-aos].aos-animate{
	transition-delay:.4s
}
[data-aos][data-aos][data-aos-duration="450"],body[data-aos-duration="450"] [data-aos]{
	transition-duration:.45s
}
[data-aos][data-aos][data-aos-delay="450"],body[data-aos-delay="450"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="450"].aos-animate,body[data-aos-delay="450"] [data-aos].aos-animate{
	transition-delay:.45s
}
[data-aos][data-aos][data-aos-duration="500"],body[data-aos-duration="500"] [data-aos]{
	transition-duration:.5s
}
[data-aos][data-aos][data-aos-delay="500"],body[data-aos-delay="500"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="500"].aos-animate,body[data-aos-delay="500"] [data-aos].aos-animate{
	transition-delay:.5s
}
[data-aos][data-aos][data-aos-duration="550"],body[data-aos-duration="550"] [data-aos]{
	transition-duration:.55s
}
[data-aos][data-aos][data-aos-delay="550"],body[data-aos-delay="550"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="550"].aos-animate,body[data-aos-delay="550"] [data-aos].aos-animate{
	transition-delay:.55s
}
[data-aos][data-aos][data-aos-duration="600"],body[data-aos-duration="600"] [data-aos]{
	transition-duration:.6s
}
[data-aos][data-aos][data-aos-delay="600"],body[data-aos-delay="600"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="600"].aos-animate,body[data-aos-delay="600"] [data-aos].aos-animate{
	transition-delay:.6s
}
[data-aos][data-aos][data-aos-duration="650"],body[data-aos-duration="650"] [data-aos]{
	transition-duration:.65s
}
[data-aos][data-aos][data-aos-delay="650"],body[data-aos-delay="650"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="650"].aos-animate,body[data-aos-delay="650"] [data-aos].aos-animate{
	transition-delay:.65s
}
[data-aos][data-aos][data-aos-duration="700"],body[data-aos-duration="700"] [data-aos]{
	transition-duration:.7s
}
[data-aos][data-aos][data-aos-delay="700"],body[data-aos-delay="700"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="700"].aos-animate,body[data-aos-delay="700"] [data-aos].aos-animate{
	transition-delay:.7s
}
[data-aos][data-aos][data-aos-duration="750"],body[data-aos-duration="750"] [data-aos]{
	transition-duration:.75s
}
[data-aos][data-aos][data-aos-delay="750"],body[data-aos-delay="750"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="750"].aos-animate,body[data-aos-delay="750"] [data-aos].aos-animate{
	transition-delay:.75s
}
[data-aos][data-aos][data-aos-duration="800"],body[data-aos-duration="800"] [data-aos]{
	transition-duration:.8s
}
[data-aos][data-aos][data-aos-delay="800"],body[data-aos-delay="800"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="800"].aos-animate,body[data-aos-delay="800"] [data-aos].aos-animate{
	transition-delay:.8s
}
[data-aos][data-aos][data-aos-duration="850"],body[data-aos-duration="850"] [data-aos]{
	transition-duration:.85s
}
[data-aos][data-aos][data-aos-delay="850"],body[data-aos-delay="850"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="850"].aos-animate,body[data-aos-delay="850"] [data-aos].aos-animate{
	transition-delay:.85s
}
[data-aos][data-aos][data-aos-duration="900"],body[data-aos-duration="900"] [data-aos]{
	transition-duration:.9s
}
[data-aos][data-aos][data-aos-delay="900"],body[data-aos-delay="900"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="900"].aos-animate,body[data-aos-delay="900"] [data-aos].aos-animate{
	transition-delay:.9s
}
[data-aos][data-aos][data-aos-duration="950"],body[data-aos-duration="950"] [data-aos]{
	transition-duration:.95s
}
[data-aos][data-aos][data-aos-delay="950"],body[data-aos-delay="950"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="950"].aos-animate,body[data-aos-delay="950"] [data-aos].aos-animate{
	transition-delay:.95s
}
[data-aos][data-aos][data-aos-duration="1000"],body[data-aos-duration="1000"] [data-aos]{
	transition-duration:1s
}
[data-aos][data-aos][data-aos-delay="1000"],body[data-aos-delay="1000"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1000"].aos-animate,body[data-aos-delay="1000"] [data-aos].aos-animate{
	transition-delay:1s
}
[data-aos][data-aos][data-aos-duration="1050"],body[data-aos-duration="1050"] [data-aos]{
	transition-duration:1.05s
}
[data-aos][data-aos][data-aos-delay="1050"],body[data-aos-delay="1050"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1050"].aos-animate,body[data-aos-delay="1050"] [data-aos].aos-animate{
	transition-delay:1.05s
}
[data-aos][data-aos][data-aos-duration="1100"],body[data-aos-duration="1100"] [data-aos]{
	transition-duration:1.1s
}
[data-aos][data-aos][data-aos-delay="1100"],body[data-aos-delay="1100"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1100"].aos-animate,body[data-aos-delay="1100"] [data-aos].aos-animate{
	transition-delay:1.1s
}
[data-aos][data-aos][data-aos-duration="1150"],body[data-aos-duration="1150"] [data-aos]{
	transition-duration:1.15s
}
[data-aos][data-aos][data-aos-delay="1150"],body[data-aos-delay="1150"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1150"].aos-animate,body[data-aos-delay="1150"] [data-aos].aos-animate{
	transition-delay:1.15s
}
[data-aos][data-aos][data-aos-duration="1200"],body[data-aos-duration="1200"] [data-aos]{
	transition-duration:1.2s
}
[data-aos][data-aos][data-aos-delay="1200"],body[data-aos-delay="1200"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1200"].aos-animate,body[data-aos-delay="1200"] [data-aos].aos-animate{
	transition-delay:1.2s
}
[data-aos][data-aos][data-aos-duration="1250"],body[data-aos-duration="1250"] [data-aos]{
	transition-duration:1.25s
}
[data-aos][data-aos][data-aos-delay="1250"],body[data-aos-delay="1250"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1250"].aos-animate,body[data-aos-delay="1250"] [data-aos].aos-animate{
	transition-delay:1.25s
}
[data-aos][data-aos][data-aos-duration="1300"],body[data-aos-duration="1300"] [data-aos]{
	transition-duration:1.3s
}
[data-aos][data-aos][data-aos-delay="1300"],body[data-aos-delay="1300"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1300"].aos-animate,body[data-aos-delay="1300"] [data-aos].aos-animate{
	transition-delay:1.3s
}
[data-aos][data-aos][data-aos-duration="1350"],body[data-aos-duration="1350"] [data-aos]{
	transition-duration:1.35s
}
[data-aos][data-aos][data-aos-delay="1350"],body[data-aos-delay="1350"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1350"].aos-animate,body[data-aos-delay="1350"] [data-aos].aos-animate{
	transition-delay:1.35s
}
[data-aos][data-aos][data-aos-duration="1400"],body[data-aos-duration="1400"] [data-aos]{
	transition-duration:1.4s
}
[data-aos][data-aos][data-aos-delay="1400"],body[data-aos-delay="1400"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1400"].aos-animate,body[data-aos-delay="1400"] [data-aos].aos-animate{
	transition-delay:1.4s
}
[data-aos][data-aos][data-aos-duration="1450"],body[data-aos-duration="1450"] [data-aos]{
	transition-duration:1.45s
}
[data-aos][data-aos][data-aos-delay="1450"],body[data-aos-delay="1450"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1450"].aos-animate,body[data-aos-delay="1450"] [data-aos].aos-animate{
	transition-delay:1.45s
}
[data-aos][data-aos][data-aos-duration="1500"],body[data-aos-duration="1500"] [data-aos]{
	transition-duration:1.5s
}
[data-aos][data-aos][data-aos-delay="1500"],body[data-aos-delay="1500"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1500"].aos-animate,body[data-aos-delay="1500"] [data-aos].aos-animate{
	transition-delay:1.5s
}
[data-aos][data-aos][data-aos-duration="1550"],body[data-aos-duration="1550"] [data-aos]{
	transition-duration:1.55s
}
[data-aos][data-aos][data-aos-delay="1550"],body[data-aos-delay="1550"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1550"].aos-animate,body[data-aos-delay="1550"] [data-aos].aos-animate{
	transition-delay:1.55s
}
[data-aos][data-aos][data-aos-duration="1600"],body[data-aos-duration="1600"] [data-aos]{
	transition-duration:1.6s
}
[data-aos][data-aos][data-aos-delay="1600"],body[data-aos-delay="1600"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1600"].aos-animate,body[data-aos-delay="1600"] [data-aos].aos-animate{
	transition-delay:1.6s
}
[data-aos][data-aos][data-aos-duration="1650"],body[data-aos-duration="1650"] [data-aos]{
	transition-duration:1.65s
}
[data-aos][data-aos][data-aos-delay="1650"],body[data-aos-delay="1650"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1650"].aos-animate,body[data-aos-delay="1650"] [data-aos].aos-animate{
	transition-delay:1.65s
}
[data-aos][data-aos][data-aos-duration="1700"],body[data-aos-duration="1700"] [data-aos]{
	transition-duration:1.7s
}
[data-aos][data-aos][data-aos-delay="1700"],body[data-aos-delay="1700"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1700"].aos-animate,body[data-aos-delay="1700"] [data-aos].aos-animate{
	transition-delay:1.7s
}
[data-aos][data-aos][data-aos-duration="1750"],body[data-aos-duration="1750"] [data-aos]{
	transition-duration:1.75s
}
[data-aos][data-aos][data-aos-delay="1750"],body[data-aos-delay="1750"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1750"].aos-animate,body[data-aos-delay="1750"] [data-aos].aos-animate{
	transition-delay:1.75s
}
[data-aos][data-aos][data-aos-duration="1800"],body[data-aos-duration="1800"] [data-aos]{
	transition-duration:1.8s
}
[data-aos][data-aos][data-aos-delay="1800"],body[data-aos-delay="1800"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1800"].aos-animate,body[data-aos-delay="1800"] [data-aos].aos-animate{
	transition-delay:1.8s
}
[data-aos][data-aos][data-aos-duration="1850"],body[data-aos-duration="1850"] [data-aos]{
	transition-duration:1.85s
}
[data-aos][data-aos][data-aos-delay="1850"],body[data-aos-delay="1850"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1850"].aos-animate,body[data-aos-delay="1850"] [data-aos].aos-animate{
	transition-delay:1.85s
}
[data-aos][data-aos][data-aos-duration="1900"],body[data-aos-duration="1900"] [data-aos]{
	transition-duration:1.9s
}
[data-aos][data-aos][data-aos-delay="1900"],body[data-aos-delay="1900"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1900"].aos-animate,body[data-aos-delay="1900"] [data-aos].aos-animate{
	transition-delay:1.9s
}
[data-aos][data-aos][data-aos-duration="1950"],body[data-aos-duration="1950"] [data-aos]{
	transition-duration:1.95s
}
[data-aos][data-aos][data-aos-delay="1950"],body[data-aos-delay="1950"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="1950"].aos-animate,body[data-aos-delay="1950"] [data-aos].aos-animate{
	transition-delay:1.95s
}
[data-aos][data-aos][data-aos-duration="2000"],body[data-aos-duration="2000"] [data-aos]{
	transition-duration:2s
}
[data-aos][data-aos][data-aos-delay="2000"],body[data-aos-delay="2000"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2000"].aos-animate,body[data-aos-delay="2000"] [data-aos].aos-animate{
	transition-delay:2s
}
[data-aos][data-aos][data-aos-duration="2050"],body[data-aos-duration="2050"] [data-aos]{
	transition-duration:2.05s
}
[data-aos][data-aos][data-aos-delay="2050"],body[data-aos-delay="2050"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2050"].aos-animate,body[data-aos-delay="2050"] [data-aos].aos-animate{
	transition-delay:2.05s
}
[data-aos][data-aos][data-aos-duration="2100"],body[data-aos-duration="2100"] [data-aos]{
	transition-duration:2.1s
}
[data-aos][data-aos][data-aos-delay="2100"],body[data-aos-delay="2100"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2100"].aos-animate,body[data-aos-delay="2100"] [data-aos].aos-animate{
	transition-delay:2.1s
}
[data-aos][data-aos][data-aos-duration="2150"],body[data-aos-duration="2150"] [data-aos]{
	transition-duration:2.15s
}
[data-aos][data-aos][data-aos-delay="2150"],body[data-aos-delay="2150"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2150"].aos-animate,body[data-aos-delay="2150"] [data-aos].aos-animate{
	transition-delay:2.15s
}
[data-aos][data-aos][data-aos-duration="2200"],body[data-aos-duration="2200"] [data-aos]{
	transition-duration:2.2s
}
[data-aos][data-aos][data-aos-delay="2200"],body[data-aos-delay="2200"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2200"].aos-animate,body[data-aos-delay="2200"] [data-aos].aos-animate{
	transition-delay:2.2s
}
[data-aos][data-aos][data-aos-duration="2250"],body[data-aos-duration="2250"] [data-aos]{
	transition-duration:2.25s
}
[data-aos][data-aos][data-aos-delay="2250"],body[data-aos-delay="2250"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2250"].aos-animate,body[data-aos-delay="2250"] [data-aos].aos-animate{
	transition-delay:2.25s
}
[data-aos][data-aos][data-aos-duration="2300"],body[data-aos-duration="2300"] [data-aos]{
	transition-duration:2.3s
}
[data-aos][data-aos][data-aos-delay="2300"],body[data-aos-delay="2300"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2300"].aos-animate,body[data-aos-delay="2300"] [data-aos].aos-animate{
	transition-delay:2.3s
}
[data-aos][data-aos][data-aos-duration="2350"],body[data-aos-duration="2350"] [data-aos]{
	transition-duration:2.35s
}
[data-aos][data-aos][data-aos-delay="2350"],body[data-aos-delay="2350"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2350"].aos-animate,body[data-aos-delay="2350"] [data-aos].aos-animate{
	transition-delay:2.35s
}
[data-aos][data-aos][data-aos-duration="2400"],body[data-aos-duration="2400"] [data-aos]{
	transition-duration:2.4s
}
[data-aos][data-aos][data-aos-delay="2400"],body[data-aos-delay="2400"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2400"].aos-animate,body[data-aos-delay="2400"] [data-aos].aos-animate{
	transition-delay:2.4s
}
[data-aos][data-aos][data-aos-duration="2450"],body[data-aos-duration="2450"] [data-aos]{
	transition-duration:2.45s
}
[data-aos][data-aos][data-aos-delay="2450"],body[data-aos-delay="2450"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2450"].aos-animate,body[data-aos-delay="2450"] [data-aos].aos-animate{
	transition-delay:2.45s
}
[data-aos][data-aos][data-aos-duration="2500"],body[data-aos-duration="2500"] [data-aos]{
	transition-duration:2.5s
}
[data-aos][data-aos][data-aos-delay="2500"],body[data-aos-delay="2500"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2500"].aos-animate,body[data-aos-delay="2500"] [data-aos].aos-animate{
	transition-delay:2.5s
}
[data-aos][data-aos][data-aos-duration="2550"],body[data-aos-duration="2550"] [data-aos]{
	transition-duration:2.55s
}
[data-aos][data-aos][data-aos-delay="2550"],body[data-aos-delay="2550"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2550"].aos-animate,body[data-aos-delay="2550"] [data-aos].aos-animate{
	transition-delay:2.55s
}
[data-aos][data-aos][data-aos-duration="2600"],body[data-aos-duration="2600"] [data-aos]{
	transition-duration:2.6s
}
[data-aos][data-aos][data-aos-delay="2600"],body[data-aos-delay="2600"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2600"].aos-animate,body[data-aos-delay="2600"] [data-aos].aos-animate{
	transition-delay:2.6s
}
[data-aos][data-aos][data-aos-duration="2650"],body[data-aos-duration="2650"] [data-aos]{
	transition-duration:2.65s
}
[data-aos][data-aos][data-aos-delay="2650"],body[data-aos-delay="2650"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2650"].aos-animate,body[data-aos-delay="2650"] [data-aos].aos-animate{
	transition-delay:2.65s
}
[data-aos][data-aos][data-aos-duration="2700"],body[data-aos-duration="2700"] [data-aos]{
	transition-duration:2.7s
}
[data-aos][data-aos][data-aos-delay="2700"],body[data-aos-delay="2700"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2700"].aos-animate,body[data-aos-delay="2700"] [data-aos].aos-animate{
	transition-delay:2.7s
}
[data-aos][data-aos][data-aos-duration="2750"],body[data-aos-duration="2750"] [data-aos]{
	transition-duration:2.75s
}
[data-aos][data-aos][data-aos-delay="2750"],body[data-aos-delay="2750"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2750"].aos-animate,body[data-aos-delay="2750"] [data-aos].aos-animate{
	transition-delay:2.75s
}
[data-aos][data-aos][data-aos-duration="2800"],body[data-aos-duration="2800"] [data-aos]{
	transition-duration:2.8s
}
[data-aos][data-aos][data-aos-delay="2800"],body[data-aos-delay="2800"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2800"].aos-animate,body[data-aos-delay="2800"] [data-aos].aos-animate{
	transition-delay:2.8s
}
[data-aos][data-aos][data-aos-duration="2850"],body[data-aos-duration="2850"] [data-aos]{
	transition-duration:2.85s
}
[data-aos][data-aos][data-aos-delay="2850"],body[data-aos-delay="2850"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2850"].aos-animate,body[data-aos-delay="2850"] [data-aos].aos-animate{
	transition-delay:2.85s
}
[data-aos][data-aos][data-aos-duration="2900"],body[data-aos-duration="2900"] [data-aos]{
	transition-duration:2.9s
}
[data-aos][data-aos][data-aos-delay="2900"],body[data-aos-delay="2900"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2900"].aos-animate,body[data-aos-delay="2900"] [data-aos].aos-animate{
	transition-delay:2.9s
}
[data-aos][data-aos][data-aos-duration="2950"],body[data-aos-duration="2950"] [data-aos]{
	transition-duration:2.95s
}
[data-aos][data-aos][data-aos-delay="2950"],body[data-aos-delay="2950"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="2950"].aos-animate,body[data-aos-delay="2950"] [data-aos].aos-animate{
	transition-delay:2.95s
}
[data-aos][data-aos][data-aos-duration="3000"],body[data-aos-duration="3000"] [data-aos]{
	transition-duration:3s
}
[data-aos][data-aos][data-aos-delay="3000"],body[data-aos-delay="3000"] [data-aos]{
	transition-delay:0
}
[data-aos][data-aos][data-aos-delay="3000"].aos-animate,body[data-aos-delay="3000"] [data-aos].aos-animate{
	transition-delay:3s
}
[data-aos][data-aos][data-aos-easing=linear],body[data-aos-easing=linear] [data-aos]{
	transition-timing-function:cubic-bezier(.25,.25,.75,.75)
}
[data-aos][data-aos][data-aos-easing=ease],body[data-aos-easing=ease] [data-aos]{
	transition-timing-function:ease
}
[data-aos][data-aos][data-aos-easing=ease-in],body[data-aos-easing=ease-in] [data-aos]{
	transition-timing-function:ease-in
}
[data-aos][data-aos][data-aos-easing=ease-out],body[data-aos-easing=ease-out] [data-aos]{
	transition-timing-function:ease-out
}
[data-aos][data-aos][data-aos-easing=ease-in-out],body[data-aos-easing=ease-in-out] [data-aos]{
	transition-timing-function:ease-in-out
}
[data-aos][data-aos][data-aos-easing=ease-in-back],body[data-aos-easing=ease-in-back] [data-aos]{
	transition-timing-function:cubic-bezier(.6,-.28,.735,.045)
}
[data-aos][data-aos][data-aos-easing=ease-out-back],body[data-aos-easing=ease-out-back] [data-aos]{
	transition-timing-function:cubic-bezier(.175,.885,.32,1.275)
}
[data-aos][data-aos][data-aos-easing=ease-in-out-back],body[data-aos-easing=ease-in-out-back] [data-aos]{
	transition-timing-function:cubic-bezier(.68,-.55,.265,1.55)
}
[data-aos][data-aos][data-aos-easing=ease-in-sine],body[data-aos-easing=ease-in-sine] [data-aos]{
	transition-timing-function:cubic-bezier(.47,0,.745,.715)
}
[data-aos][data-aos][data-aos-easing=ease-out-sine],body[data-aos-easing=ease-out-sine] [data-aos]{
	transition-timing-function:cubic-bezier(.39,.575,.565,1)
}
[data-aos][data-aos][data-aos-easing=ease-in-out-sine],body[data-aos-easing=ease-in-out-sine] [data-aos]{
	transition-timing-function:cubic-bezier(.445,.05,.55,.95)
}
[data-aos][data-aos][data-aos-easing=ease-in-quad],body[data-aos-easing=ease-in-quad] [data-aos]{
	transition-timing-function:cubic-bezier(.55,.085,.68,.53)
}
[data-aos][data-aos][data-aos-easing=ease-out-quad],body[data-aos-easing=ease-out-quad] [data-aos]{
	transition-timing-function:cubic-bezier(.25,.46,.45,.94)
}
[data-aos][data-aos][data-aos-easing=ease-in-out-quad],body[data-aos-easing=ease-in-out-quad] [data-aos]{
	transition-timing-function:cubic-bezier(.455,.03,.515,.955)
}
[data-aos][data-aos][data-aos-easing=ease-in-cubic],body[data-aos-easing=ease-in-cubic] [data-aos]{
	transition-timing-function:cubic-bezier(.55,.085,.68,.53)
}
[data-aos][data-aos][data-aos-easing=ease-out-cubic],body[data-aos-easing=ease-out-cubic] [data-aos]{
	transition-timing-function:cubic-bezier(.25,.46,.45,.94)
}
[data-aos][data-aos][data-aos-easing=ease-in-out-cubic],body[data-aos-easing=ease-in-out-cubic] [data-aos]{
	transition-timing-function:cubic-bezier(.455,.03,.515,.955)
}
[data-aos][data-aos][data-aos-easing=ease-in-quart],body[data-aos-easing=ease-in-quart] [data-aos]{
	transition-timing-function:cubic-bezier(.55,.085,.68,.53)
}
[data-aos][data-aos][data-aos-easing=ease-out-quart],body[data-aos-easing=ease-out-quart] [data-aos]{
	transition-timing-function:cubic-bezier(.25,.46,.45,.94)
}
[data-aos][data-aos][data-aos-easing=ease-in-out-quart],body[data-aos-easing=ease-in-out-quart] [data-aos]{
	transition-timing-function:cubic-bezier(.455,.03,.515,.955)
}
[data-aos^=fade][data-aos^=fade]{
	opacity:0;
	transition-property:opacity,transform
}
[data-aos^=fade][data-aos^=fade].aos-animate{
	opacity:1;
	transform:translateZ(0)
}
[data-aos=fade-up]{
	transform:translate3d(0,100px,0)
}
[data-aos=fade-down]{
	transform:translate3d(0,-100px,0)
}
[data-aos=fade-right]{
	transform:translate3d(-100px,0,0)
}
[data-aos=fade-left]{
	transform:translate3d(100px,0,0)
}
[data-aos=fade-up-right]{
	transform:translate3d(-100px,100px,0)
}
[data-aos=fade-up-left]{
	transform:translate3d(100px,100px,0)
}
[data-aos=fade-down-right]{
	transform:translate3d(-100px,-100px,0)
}
[data-aos=fade-down-left]{
	transform:translate3d(100px,-100px,0)
}
[data-aos^=zoom][data-aos^=zoom]{
	opacity:0;
	transition-property:opacity,transform
}
[data-aos^=zoom][data-aos^=zoom].aos-animate{
	opacity:1;
	transform:translateZ(0) scale(1)
}
[data-aos=zoom-in]{
	transform:scale(.6)
}
[data-aos=zoom-in-up]{
	transform:translate3d(0,100px,0) scale(.6)
}
[data-aos=zoom-in-down]{
	transform:translate3d(0,-100px,0) scale(.6)
}
[data-aos=zoom-in-right]{
	transform:translate3d(-100px,0,0) scale(.6)
}
[data-aos=zoom-in-left]{
	transform:translate3d(100px,0,0) scale(.6)
}
[data-aos=zoom-out]{
	transform:scale(1.2)
}
[data-aos=zoom-out-up]{
	transform:translate3d(0,100px,0) scale(1.2)
}
[data-aos=zoom-out-down]{
	transform:translate3d(0,-100px,0) scale(1.2)
}
[data-aos=zoom-out-right]{
	transform:translate3d(-100px,0,0) scale(1.2)
}
[data-aos=zoom-out-left]{
	transform:translate3d(100px,0,0) scale(1.2)
}
[data-aos^=slide][data-aos^=slide]{
	transition-property:transform
}
[data-aos^=slide][data-aos^=slide].aos-animate{
	transform:translateZ(0)
}
[data-aos=slide-up]{
	transform:translate3d(0,100%,0)
}
[data-aos=slide-down]{
	transform:translate3d(0,-100%,0)
}
[data-aos=slide-right]{
	transform:translate3d(-100%,0,0)
}
[data-aos=slide-left]{
	transform:translate3d(100%,0,0)
}
[data-aos^=flip][data-aos^=flip]{
	backface-visibility:hidden;
	transition-property:transform
}
[data-aos=flip-left]{
	transform:perspective(2500px) rotateY(-100deg)
}
[data-aos=flip-left].aos-animate{
	transform:perspective(2500px) rotateY(0)
}
[data-aos=flip-right]{
	transform:perspective(2500px) rotateY(100deg)
}
[data-aos=flip-right].aos-animate{
	transform:perspective(2500px) rotateY(0)
}
[data-aos=flip-up]{
	transform:perspective(2500px) rotateX(-100deg)
}
[data-aos=flip-up].aos-animate{
	transform:perspective(2500px) rotateX(0)
}
[data-aos=flip-down]{
	transform:perspective(2500px) rotateX(100deg)
}
[data-aos=flip-down].aos-animate{
	transform:perspective(2500px) rotateX(0)
}